.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-block: 30px;
    z-index: 10;
    color: var(--color-light);

}

.header-contact, .header-logo {
    display: flex;
    flex-direction: column;
}

.header-contact__callback, .header-contact__description, .header-contact__telephone, .header-contact__email {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
}

.header-logo__title {
    font-size: 25px;
    line-height: 120%;
    letter-spacing: 1px;
}

.header-logo__subtitle {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../image/background.jpg") center/cover no-repeat;
    width: 100%;
    height: 677px;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0; /* ниже контента */
}

.banner-content {
    position: relative;
    z-index: 1; /* поверх затемнения */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    color: var(--color-light);
}

.banner-content__title {
    max-width: 829px;
    text-align: center;
    font-family: var(--font-famyly-Montserrat-Bold), sans-serif;
    font-size: clamp(30px, 4vw, 60px);
    font-weight: 800;
}


.banner-content__button {
    background-color: var(--color-light-yellow);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    padding: 22px 36px;
    color: var(--color-dark-gray);
    font-family: var(--font-famyly-Montserrat-Bold), sans-serif;
    font-weight: 800;
}

.merchandiser {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.merchandiser-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.merchandiser-title {
    max-width: 794px;
    font-family: var(--font-famyly-Montserrat-Bold), sans-serif;
    font-size: 48px;
    font-weight: 800;
    color: var(--color-dark-alternate);
    line-height: 120%;
    letter-spacing: 1px;
}

.merchandiser-title:not(:last-child) {
    margin-bottom: 45px;
}

.merchandiser-description {
    max-width: 700px;
    line-height: 150%;
    letter-spacing: 0.3px;
    color: #1A1A1A;
}

.merchandiser__wrapper {
    margin-block: 100px;
}

.merchandiser__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px 38px;
}

.merchandiser__image {
    max-width: 350px;
    aspect-ratio: 1;
    border-radius: 4px;
}

.merchandiser__title {
    font-family: var(--font-famyly-Montserrat-Regular), sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 120%;
    margin-top: 17px;
}

.merchandiser__title::after {
    content: attr(data-title);
    position: absolute;
    font-size: 18px;
    line-height: 120%;
    margin-left: 11px;
}